{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="background-image: url({% static 'img/northview.jpg' %}); height: 950px;  background-size: cover; background-position: 50%">
  <div class="background">
    <div class="row">
      <div class="float-left">
          <br>
          <br>
          <br>
          <form class ="add_form" action="{% url 'addCourse' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="city" id="city" placeholder="City Course is Located in">
            </div>
            <div class="form-group" style="width: 150%">
                <select class="custom-select">
                    <option selected>Holes</option>
                    <option value="1">6</option>
                    <option value="2">9</option>
                    <option value="3">18</option>
                    <option value="4">24</option>
                </select>
            </div>
            <div class="form-group" style="width: 150%">
                <select class="custom-select">
                    <option selected>Tee Types</option>
                    <option value="1">Concrete</option>
                    <option value="2">Dirt</option>
                    <option value="3">Grass</option>
                    <option value="4">Gravel</option>
                    <option value="5">Mixed</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style=" background-color: #343a40!important; border: none;">Add Course</button>
          </form>
        <div class="float-right" style="width: 50%">
      </div>
    </div>
  </div> 
</div>

{% endblock  %}