{% extends 'base.html' %}

{% block content %}

 <div class="list_table">
        <table class="table">
            <thead class="thead-dark">
                <tr class="table_header">
                    <th class="table_head" scope="col">Course Name</th>
                    <th class="table_head" scope="col">City</th>
                    <th class="table_head" scope="col">Holes</th>
                    <th class="table_head" scope="col">Tee Type</th>
                </tr>
            </thead>
            <tbody>
                {% if course_list %}
                    {% for course in course_list %}

                        <tr>
                            <td>{{ course.name }}</td>
                             <td>{{ course.city }}</td>
                            <td>${{ course.holes }}</td>
                            <td>${{ course.tee_type }}</td>
                            <td>
                                <form action="{% url 'couresHome' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value='{{ course.id }}'>
                                   
                                </form>                            
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No Course In Course List</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}