{% extends 'base.html' %}

{% block content %}
{% if ind_course %}
    
    <h1 style = "color: white; text-align: center;">{{ ind_course.course_name }}</h1>
    <h5 style = "color: white; text-align: center;"> City: {{ ind_course.city }} </h5>
    <h5 style = "color: white; text-align: center;"> {{ ind_course.holes }} holes</h5>
    <h5 style ="color: white; text-align: center; "> Tee Type: {{ ind_course.tee_type }}</h5>

    <section style = " background-color: #918b78">
        <p style = "color: white; padding:  0px 45px;">User Name</p>
        <p style = "color: white; padding: 0px 45px;">Review</p>
    </section>
    <section style = " background-color: #918b78">
        <p style = "color: white; padding:  0px 45px;">User Name</p>
        <p style = "color: white; padding: 0px 45px;">Review</p>
    </section>
    <section style = " background-color: #918b78">
        <p style = "color: white; padding:  0px 45px;">User Name</p>
        <p style = "color: white; padding: 0px 45px;">Review</p>
    </section>



{% endif %}



{% endblock %}