{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="height: 950px;  background-size: cover; background-position: 50%; padding: 25px">
    <div class="background">
      <div class="row">
        <div class="float-left">
            <br>
            <br>
            <h2 style="color: white; padding: 0px 45px;">Course Review</h2>
            <br>
            <form class ="add_form" action="{% url 'goalsHome' %}" method="POST" style="padding: 0px 45px;">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course Name">
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control" name="city" id="city" placeholder="City Course is Located in">
                 </div>
                 <div class="form-group" style="width: 150%">
                  <select class="custom-select" name="holes" id="holes">
                      <option selected>Holes</option>
                      <option value="6">6</option>
                      <option value="9">9</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="27">27</option>
                  </select>
                  </div>
                  <div class="form-group" style="width: 150%">
                    <select class="custom-select" name="tee_type" id="tee_type">
                        <option selected>Tee Types</option>
                        <option value="Concrete">Concrete</option>
                        <option value="Dirt">Dirt</option>
                        <option value="Grass">Grass</option>
                        <option value="Gravel">Gravel</option>
                        <option value="Mixed">Mixed</option>
                    </select>
                </div>
                <br>
                 <div class="form-group" style="width: 150%">
                    <textarea type="text" class="form-control" id="thoughts" name="thoughts"  placeholder="What are your thoughts?" style="height: 150px; "></textarea>
                </div>
                 <button type="submit" class="btn btn-primary" style=" background-color: #343a40!important; border: none;">Submit Review</button>
               </form>
               <br>
               <br>
               <!-- <div class="txt-center">
                    <form>
                          <div class="rating">
                              <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                              <label for="star5" >☆</label>
                              <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                              <label for="star4" >☆</label>
                              <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                              <label for="star3" >☆</label>
                              <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                              <label for="star2" >☆</label>
                              <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                              <label for="star1" >☆</label>
                              <div class="clear"></div>
                          </div>
                      </form>
                  </div> -->
                  <!-- <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                      </div> -->

{% endblock %}