{% comment %} Web page footer, when side button is clicked it will rise and show different url redirects to information about the creators of the page. (The person writing this comment is one of them .) {% endcomment %}

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" style="color:white;">About Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link my_links" href="{% url 'groupHome' %}" style= "color: white;">Group Members</a>
            <a class="nav-item nav-link my_links" href="{% url 'processHome' %}" style= "color: white;">Work Process</a>                   
            <a class="nav-item nav-link my_links" href="{% url 'goalsHome' %}" style= "color: white;">Site Goals</a>                
        </div>
    </div>
</nav>