{% comment %} This is the navbar at the top of the screen. Displaying buttons to different pages of the site and redirecting back to the home page when the Title of the navbar is clicked. {% endcomment %}

<nav class="navbar navbar-dark bg-dark">
<div class="my_navbar navbar navbar-expand-md">
    <a href="{% url 'pages-home' %}" class="navbar-brand my_brand">Disc Golf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'courseHome' %}" class="nav-item nav-link my_links">Courses</a>
            <a href="{% url 'addCourse' %}" class="nav-item nav-link my_links">Add Course</a>                   
            {% comment %} <a href="{% url 'loginHome' %}" class="nav-item nav-link my_links">Login</a>         {% endcomment %}
            {% comment %} <a href="{% url 'registerHome' %}" class="nav-item nav-link my_links">Sign Up</a>         {% endcomment %}
        </div>
    </div>
</div>
</nav>
