<nav class="navbar navbar-dark bg-dark">
<div class="my_navbar navbar navbar-expand-md">
    <a href="{% url 'pages-home' %}" class="navbar-brand my_brand">Disc Golf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'courseHome' %}" class="nav-item nav-link my_links">Courses</a>
            <a href="{% url 'addCourse' %}" class="nav-item nav-link my_links">Add Course</a>                   
            <a href="{% url 'loginHome' %}" class="nav-item nav-link my_links">Login</a>        
            <a href="{% url 'registerHome' %}" class="nav-item nav-link my_links">Sign Up</a>        
        </div>
    </div>
</div>
</nav>
