{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="background-image: {% static 'img/northview.jpg' %}; height: 950px; background-size: cover; background-position: 50%">
  <div class="background">
      <div class="row">
        <div class="float-left">
            <br>
            <h1 style="color: white; width: 150%"><u>Site Goals</u></h1>
              <p style= "color:white;">This site was made to help expand the Disc Golf community. There are plenty of courses out in locations
                that not everyone knows about. Making this site allows the community to have a list of the courses and to give reviews
                about what the users think of the course. Each course will have have how many holes are in the course, what the type of
                tees the course uses, and the city location. By doing this, we hope to make it so new courses are discovered and 
                everyone who is looking for new courses to try out will enjoy new locations. Disc Golf is a fun sport and is growing more
                popular every year, so this site is aimed to expand with the ever growing Disc golf population.</p>
              <br>
              <br>
              <p style="color: white">Features in this site includes adding new courses to the website. Each user can add courses to the website to expand the ever
                growing list of courses. Each user can also submit reviews on the courses, letting other users know what they think of the courses and any
                thoughts on how the courses can improve to make them more user friendly.</p>
              <br>
              <br>
              <br>
              <div class="text-md-left" style="color: white; width: 150%">
                    <h3 style="color: white"> Have any thoughts and recommendations?</h3>
                    <p style="color: white">Feel Free to contact @ discgolf.indy@gmail.com</p>
              </div>
        </div>
      </div>
  </div> 
</div>



{% endblock %}