{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="background-image: {% static 'img/northview.jpg' %}; height: 950px; background-size: cover; background-position: 50%">
    <div class="background">
      <div class="row">
        <div class="float-left">
            <br>
            <h1 style="color: white; width: 150%">Site Goals</h1>
            <br>
            <br>
              <div class="text-md-left" style="color: white; width: 150%">
                <h3>1) EFA Blue Badge Requirement</h3>
                <p>Simply put, we had to make a site in order to pass Blue Badge at Eleven Fifty Academy.</p>
              </div>
              <br>
              <div class="text-md-left" style="color: white; width: 150%">
                <h3>2) To Inform</h3>
                <p>We wanted to provide disc golf information and course input by Players of the Sport, witin the Greater Indianapolis Area.</p>
                </div>
              <br>
              <div class="text-md-left" style="color: white; width: 150%">
                    <h3>3) To Help New Users</h3>
                    <p>This site hopes to help those new player to the sport in our city, to have the resouces and knowledge to start playing this game.</p>
                </div>
            </div>
        </div>
      </div>
    </div> 
  </div>



{% endblock %}