{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="background-image: {% static 'img/northview.jpg' %}; height: 950px; background-size: cover; background-position: 50%">
    <div class="background">
      <div class="row">
        <div class="float-left">
            <br>
            <h2 style="color: white"><u>About the Creators</u></h2>
            <br>
            <br>
              <div class="text-md-left" style="width: 150%">
                <h4 style="color: white">Owen Edwards</h4>

                <h6 style="color: white">Project Manager</h6>
                <p style="color: white">.....</p>
              </div>
              <br>
              <div class="text-md-left" style="width: 150%; color:white">
                <h4 style="color: white">Patrick McGill</h4>
                <h6 style="color: white">Concept Devloper</h6>
                <p style="color: white; width: 150%">Avid disc golf player. Have been playing for 11 years. Came up with the concept because I am always looking for new places
                 and have hard time finding ones that people recommend. Thought that there should be a place where people can enjoy finding
                 new courses and have the ability to share that with others. </p>
              </div>
              <br>
              <div class="text-md-left" style="width: 150%; color:white">
                <h4 style="color: white">Joshua Serie</h4>
                <h6 style="color: white">Concept Designer</h6>
                <p style="color: white">Do to the fact that I give no cares what people think of me... NINTENDO SWITCH IS STUPID!</p>
              </div>
        </div>
      </div>
    </div> 
  </div>


{% endblock %}