{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid" style="background-image: {% static 'img/northview.jpg' %}; height: 950px; background-size: cover; background-position: 50%">
    <div class="background">
      <div class="row">
        <div class="float-left">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>About the Creators</h2>
              <div class="text-md-left" style="width: 150%">
                <h4>Joshua Serie</h4>
                <p>.....</p>
              </div>
              <br>
              <div class="text-md-left" style="width: 150%">
                <h4>Joshua Serie</h4>
                <p>.....</p>
              </div>
              <br>
              <div class="text-md-left" style="width: 150%">
                <h4>Joshua Serie</h4>
                <p>.....</p>
              </div>
        </div>
      </div>
    </div> 
  </div>


{% endblock %}