{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% block content %}

{% comment %} Simple html to display title, header, sidebar and other html items. {% endcomment %}

<html>
  <head>
    <title>Disc Golf</title>
    ​<header style="width:100%; text-align:center; background-color: #343a40!important;">  
      <h1 class="text-light">Indy Disc Golf</h1>
    </header>
    <section style="width:70%; float: left; background-color: #343a40!important;">        
      <header style="text-align:center;">        
          <h3 class="text-light">Welcome to the Disc Golf Home Page</h3>        
      </header>
    </section>  
  </head>
    ​<article style="width: 30%; float: right; background-color: #343a40!important;">      
                
      <header style="text-align:center; color: rgb(8, 193, 250);">          
              <h2 class="text-light">Disc Golf Info</h2>      
          
      </header>      
  
      {% comment %} The below section will be where the hyperlinks to the official Disc Golf rules will be and sites to buy disc golf accessories and items. {% endcomment %}

      <section>
          <h4 class="text-light" style="text-align:center">Official Disc Golf Rules</h4>              
          <p  class="text-light" style="text-align:center">PDGA Rules: https://www.pdga.com/rules/official-rules-disc-golf</p>        
          <h4 class="text-light" style="text-align:center">Places to buy frisbees</h4>              
            <p class="text-light" style="text-align:center">Innova Discs: https://www.innovadiscs.com/disc-golf-discs/</p>
          <br>
            <p class="text-light" style="text-align:center">Discraft: https://www.discraft.com/disc-golf/</p>                   
      </section>
    </article>​
</html>

{% comment %} Home page carousel going through different images of disc golf for visitors to see when browsing the page. {% endcomment %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/bluebasket.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/holeTrees.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/man-throwing.jpg' %}" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/tournament.jpg' %}" alt="Fourth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/waterHole.jpg' %}" alt="Fifth slide">
    </div>
  </div>
</div>
{% endblock %}
