{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">




    
  
      {% comment %} The below section will be where the hyperlinks to the official Disc Golf rules will be and sites to buy disc golf accessories and items. {% endcomment %}
      {% block content %}

    <article style="width: 30%; float: right; background-color:  #6C747C !important;">               
      <header style="text-align:center; color: white">          
        <h2>Disc Golf Info</h2>      
        <section style="text-align:left; padding: 10px">
            <h4 style="color: white;">Official Disc Golf Rules</h4>
            <a class="btn btn-dark" href="https://www.pdga.com/rules/official-rules-disc-golf" target="_blank" role="button">PDGA Site</a>
            <h4 style="color: white;">Places to buy frisbees</h4>         
            <a class="btn btn-dark" href="https://www.innovadiscs.com/disc-golf-discs/" target="_blank" role="button">Innova Discs</a>     
            <a class="btn btn-dark" href="https://www.discraft.com/disc-golf/" target="_blank" role="button">Discraf Inc.t</a>  
        </section>    
      </header> 
    ​</article>
    <title>Disc Golf</title>
    <wrapper>
    ​<header style="width:100%; text-align:center; background-color: #635E4F!important; color: white">
      <h1>Indy Disc Golf</h1>
    </header>
    <section style="width:70%; float: left; background-color:  #635E4F!important;">        
      <header style="text-align:center; color: white">        
          <h3>Welcome to the Disc Golf Home Page</h3>        
      </header>
    </wrapper>
      <wrapper>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 h-auto" src="{% static 'img/bluebasket.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 h-auto" src="{% static 'img/holeTrees.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 h-auto" src="{% static 'img/man-throwing.jpg' %}" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 h-auto" src="{% static 'img/tournament.jpg' %}" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 h-auto" src="{% static 'img/waterHole.jpg' %}" alt="Fifth slide">
            </div>
          </div>
        </div>
        </wrapper>
    </section> 

      
    


{% endblock %}
