{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="list_table">
    <table class="table">
        <thead class="thead-dark">
            <tr class="table_header">
                <th class="table_head" scope="col">Course Name</th>
                <th class="table_head" scope="col">City</th>
                <th class="table_head" scope="col">Holes</th>
                <th class="table_head" scope="col">Tee Type</th>
                <th class="table_head" scope="col" style="text-align:right;">Play</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}